@font-face {
    font-family: joao;
    src: url(./fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: victor;
    src: url(./fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}



body {
    text-align: justify;
    gap: 20px;
    max-width: 1440px;
    min-width: 375px;
    background-color: hsl(30, 54%, 90%);
    padding: 100px 300px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 20px;
}

.card {
    gap: 20px;
}

.card > img {
    width: 100%;
    border-radius: 20px;
    padding-bottom: 15px;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-family: victor;
}

p {
    font-family: joao;
    font-size: 16px;
}

.prep {
    height: 100%;
    padding: 10px 10px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

.prep > li {
    
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: joao;
    font-size: 20px;
}

h2 {
    color: hsl(14, 45%, 36%)
}


.nutrition-section {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nutrition-section h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #555;
    text-align: center;
  }
  
  .nutrition-section p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: #777;
  }
  
  /* Estilo da tabela */
  .nutrition-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .nutrition-table th,
  .nutrition-table td {
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
  
  .nutrition-table th {
    color: #555;
    font-weight: bold;
  }
  
  .nutrition-table td {
    color: #333;
  }
  
  .nutrition-table tbody tr:last-child td {
    border-bottom: none;
  }